
services:
  mysql:
    image: mysql:8.0
    container_name : brighte_database
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql-init:/docker-entrypoint-initdb.d:ro

volumes:
  mysql_data: