
services:
  mysqlDB:
    image: mysql:8.0
    container_name: brighte_database
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql-init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 10
      timeout: 5s

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: brighte_api
    ports:
      - "4000:4000"
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      mysqlDB:
        condition: service_healthy
    command: >
      sh -c "
      ./docker/wait-for-it.sh mysqlDB:3306 -- npx prisma migrate deploy &&
      npm run start:dev
      "

volumes:
  mysql_data:
